.app-main {
  position: relative;
  z-index: 1;
}



.section {
  min-height: 100vh;
  padding: 120px 10%;
  background: transparent;
  color: white;
}
.section {
  min-height: 100vh;
  padding: 120px 10%;
  background: transparent;
  color: white;
}
